{% extends "layout.html" %}

{% block title %}HOME{% endblock %}

{% block content %}

<main>
    <div class="container-fluid">
        <section class="section_first">
            <div class="row">
                <div class="col-xs-12 col-md-6 text-center top-row">
                    <img src="/static/images/climate_change.jpg" alt="" style="width: 100%; height: 100%;">
                </div>
                <div class="col-xs-12 col-md-6 text-center top-row">
                    <div>
                        <img src="/static/images/climate_change.jpg" alt="" style="width: 100%; height: 50%;">
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 bottom-row">
                            <img src="/static/images/climate_change.jpg" alt="" style="width: 100%; height: 100%;">
                        </div>
                        <div class="col-xs-12 col-md-6 bottom-row">
                            <img src="/static/images/climate_change.jpg" alt="" style="width: 100%; height: 100%;">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--Seção para destaques de hoje-->
        <section>
            <h1>Destaques de hoje</h1>
            <h6>Últimas notícias, fotos, vídeos e reportagens especiais</h6>
            <div class="row">
                <div class="col-xs-12 col-md-5 bottom-row text-center">
                    <img class="img_destaques" src="/static/images/bem-estar.jpg" alt="">
                    <h2>Título da notícia</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    <p>Autor - 26 Março, 2024</p>
                </div>
                <div class="col-xs-12 col-md-5 bottom-row text-center">
                    <img class="img_destaques" src="/static/images/bem-estar.jpg" alt="">
                    <h2>Título da notícia</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    <p>Autor - 26 Março, 2024</p>
                </div>
                <div class="col-xs-12 col-md-2">
                    <h5>Assuntos do momento</h5>
                    <a href="/tecnologia"><img class="img_trending_topics" src="/static/images/tecnologia.jpg" alt=""></a>
                    <a href="/economia"><img class="img_trending_topics" src="/static/images/economia.jpg" alt=""></a>
                    <a href="/cultura"><img class="img_trending_topics" src="/static/images/cultura.jpg" alt=""></a>
                    <a href="/politica"><img class="img_trending_topics" src="/static/images/politica.jpg" alt=""></a>
                    <a href="/esportes"><img class="img_trending_topics" src="/static/images/esportes.jpg" alt=""></a>

                </div>
                <div class="col-xs-12 col-md-5 bottom-row text-center">
                    <img class="img_destaques" src="/static/images/bem-estar.jpg" alt="">
                    <h2>Título da notícia</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    <p>Autor - 26 Março, 2024</p>
                </div>
                <div class="col-xs-12 col-md-5 bottom-row text-center">
                    <img class="img_destaques" src="/static/images/bem-estar.jpg" alt="">
                    <h2>Título da notícia</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    <p>Autor - 26 Março, 2024</p>
                </div>
                <div class="col-xs-12 col-md-5 bottom-row text-center">
                    <img class="img_destaques" src="/static/images/bem-estar.jpg" alt="">
                    <h2>Título da notícia</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    <p>Autor - 26 Março, 2024</p>
                </div>
                <div class="col-xs-12 col-md-5 bottom-row text-center">
                    <img class="img_destaques" src="/static/images/bem-estar.jpg" alt="">
                    <h2>Título da notícia</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    <p>Autor - 26 Março, 2024</p>
                </div>

            </div>
        </section>
    </div>
</main>


{% endblock %}