<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
      <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      Portal de Notícias
    </a>

    <li class="nav-item dropdown">
        <a class="btn dropdown-toggle btn-secondary" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Menu</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/tecnologia">Tecnologia</a>
            <a class="dropdown-item" href="/politica">Política</a>
            <a class="dropdown-item" href="/economia">Economia</a>
            <a class="dropdown-item" href="/esportes">Esportes</a>
            <a class="dropdown-item" href="/cultura">Cultura</a>
        </div>    
    </li>
  </nav>