{% extends 'layout.html' %}
{% block title %}{{ categoria }}{% endblock %}
{% block content %}

<main>
    <h1>Notícias de {{ categoria }}</h1>
    <img src="{{ categoria_info.imagem }}" alt="{{ categoria_info.nome }}">
    <ul>
        {% for noticia in noticias %}
            <li>
                <h2>{{ noticia.titulo }}</h2>
                <h3>Autora: {{ noticia.autora }} – Data {{ noticia.data }} </h3>
                <p>{{ noticia.conteudo|truncatewords:30 }}...</p>
            </li>
        {% endfor %}
    </ul>
</main>

{% endblock %}