{% extends "layout.html" %}

{% block title %}SOBRE{% endblock %}

{% block content %}

{% load static %}

<div class="container-fluid">
    <h1 class="text-color">Quem somos</h1>
    <h5>Squad Hedy Lamarr</h5>
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <img>
            <h5>Amanda</h5>
        </div>
        <div class="col-xs-12 col-md-3">
            <img>
            <h5>Gabriella</h5>
        </div>
        <div class="col-xs-12 col-md-3">
            <img>
            <h5>Jhenyffer</h5>
        </div>
        <div class="col-xs-12 col-md-3">
            <img class="img_destaques" src="/static/images/foto_lais.jpg" alt="foto mulher branca, de óculos, cabelos escuros">
            <h5 class="text-color">Laís Zahran</h5>
            <p>Apaixonada por tecnologia, livros e chocolate.</p>
            <p>Me siga no meu <a href="https://github.com/laisrz">Github</a> e <a href="https://www.linkedin.com/in/laisrz">Linkedin</a>!</p>
        </div>
        <div class="col-xs-12 col-md-3">
            <img class="img_destaques" src="/static/images/foto_mariana.jpg" alt="foto mulher branca, de óculos, cabelos claros">
            <h5 class="text-color">Mariana Amaral</h5>
            <p>Adoro aprender novas tecnlogias e estar atualizada com o mundo da TI.</p>
            <p>Me siga no meu <a href="https://github.com/mariana1008">Github</a>!</p>
        </div>
    </div>
    <h5>Squad Margaret Hamilton</h5>
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <img>
            <h5>Andréia</h5>
        </div>
        <div class="col-xs-12 col-md-3">
            <img>
            <h5>Lary</h5>
        </div>
        <div class="col-xs-12 col-md-3">
            <img>
            <h5>Marcella</h5>
        </div>
        <div class="col-xs-12 col-md-3">
            <img>
            <h5>Priscila</h5>
        </div>
    </div>
</div>


{% endblock %}