footer {
    position:absolute;
    background-color: #B269DD;
    width: 100vw;
    padding: 4% 4% 2% 4%;
    
}

.footer-first-div {
    border: solid #F4DFFF;
    border-width: 0  0 1px 0 ;
    align-items:center;
    padding: 1rem 0;
}

.footer-logo {
    left: 10%;
    margin-right: 4%;
}

.footer-text {
    color: #F4DFFF;
    font-weight: 500;
    text-align: justify;
}

.footer-second-div {
    padding-top: 2rem;
}

#footer {
    font-weight: 600;
    color: #F4DFFF;
}